.calculadora-section-transparente {
  background-color: rgba(34, 33, 33, 0.6); 
  width: 350px;
  height: 500px;
  margin-left: 10px; /* Adiciona um espaço entre a calculadora e o resto da página */
  border-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Para alinhar os elementos verticalmente */
}

.botao {
  background-color: rgba(85, 87, 87, 0.8);
  width: 55px;
  height: 55px;
  color: #fff;
  cursor: pointer;
  font-size: 25px;
  border: none;
  margin: 3px;
}

.botao:hover {
  background-color: black;
}

.botao2 {
  background-color: rgba(121, 235, 15, 0.6);
  width: 55px;
  height: 60px;
  color: #fff;
  cursor: pointer;
  font-size: 25px;
  border: none;
  margin: 5px;
}

.botao2:hover {
  background-color: rgb(253, 252, 252);
  color: black;
}

#resultado_calc_ {
  width: 247px;
  height: 50px;
  background-color: #fff;
  color: black;
  margin: 5px;
  text-align: center; /* Centraliza o texto horizontalmente */
  font-size: 25px; /* Define o tamanho da fonte */
  padding: 10px; /* Adiciona espaço interno ao redor do texto */
}

.form {
  width: 400px;
  height: 0 auto;
  margin: 0 auto;
  background-color: rgba(27, 27, 27, 0.8); /* Fundo preto com 50% de transparência */
  padding: 20px;
  border-radius: 20px; /* Borda arredondada */
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block; /* Alteração para permitir centralização */
  margin: 0 auto; /* Alteração para centralizar horizontalmente */
}

.btn-primary {
  background-color: #33e04a;
  color: #fff;
  margin-top: 35px;
}

#resultado {
  margin-top: 20px;
  font-weight: bold;
  color: #fff; /* Cor do texto */
}

#explicacao {
  flex: 1; /* Ocupa todo o espaço disponível */
  background-color: rgba(240, 106, 17, 0.8); 
  width: 100%;
  height: auto;
  margin-left: 10px; /* Adiciona um espaço entre a calculadora e o resto da página */
  border-radius: 20px;
  text-align: justify;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Para alinhar os elementos verticalmente */
}

.form h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333333;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.btn-primary {
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: #ffffff;
  width: 100%;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.forgot-password {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
  display: block;
  margin-top: 10px;
}

/* Estilo para a seção de login */

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}


.container {
  background-color: rgba(214, 200, 200, 0.5);
  padding: 20px;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0 0 30px 0 hwb(84 18% 0%);
}


.buttonsForm {
  margin-top: 40px;
  position: relative;
  border-radius: 30px;
  box-shadow: 0 0 7px 0 green;
}

.buttonsForm button {
  cursor: pointer;
  background: transparent;
  border: none;
  position: relative;
  padding: 10px 29px;
}

.btnColor {
  position: absolute;
  width: 130px;
  height: 100%;
  background: linear-gradient(to right, #98FB98, hwb(84 18% 0%));
  border-radius: 30px;
  transition: .3s;
}

input[type="text"], input[type="password"] {
  border: none;
  margin-top: 40px;
  border-radius: 60px;
  padding: 8px 0 8px 35px;
  outline: none;
  width: 100%;
}

button[type="submit"] {
  background: #98FB98;
  color: black;
  border-radius: 30px;
  width: 100%;
  border: none;
  outline: none;
  padding: 15px 36px;
  font-size: 22px;
  margin-top: 40px;
  cursor: pointer;
}

.divCheck {
  margin: 10px 0 0 5px;
  width: 80%;
  font-size: 13px;
}

#signin {
  left: 25px;
  position: absolute;
  margin-top: 80px;
  transition: .5s;
  width: 330px;
  height: 400px;
}

#signup {
  left: 450px;
  position: absolute;
  margin-top: 80px;
  transition: .5s;
  width: 330px;
  height: 400px;
}

.iEmail, .iPassword, .iPassword2 {
  position: absolute;
  top: 6px;
  left: 6px;
  transform: translate(0px, 0px);
  font-size: 20px;
  pointer-events: none;
  transition: .5s;
}

.iPassword2 {
  top: 48px;
}

.forgot-password {
  text-align: center;
  color: #008B8B;
}
/* ----------------------------------------------- */
.pai {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.3);
  width: 90%; /* Alterado para largura relativa */
  max-width: 800px; /* Largura máxima opcional */
  padding: 5%; /* Padding relativo */
  border-radius: 20px;
  margin: 0 auto;
}

/* Media queries para ajustar em diferentes tamanhos de tela */
@media only screen and (max-width: 768px) {
  .pai {
    width: 90%; /* Por exemplo, ajuste para 90% da largura da tela em telas menores que 768px */
    padding: 20px; /* Ajuste de padding para telas menores */
  }
}

@media only screen and (max-width: 480px) {
  .pai {
    width: 90%; /* Por exemplo, ajuste para 90% da largura da tela em telas menores que 480px */
    padding: 10px; /* Ajuste de padding para telas ainda menores */
  }
}


.filha {
  width: calc(45% - 20px);
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.9);
  padding: 15px;
}

/* Media query para ajustar estilos em telas menores */
@media only screen and (max-width: 768px) {
  .filha {
    width: calc(50% - 5px); /* Reduzir a largura em telas menores */
  }
}

.imagem {
  width: 30%; /* Porcentagem da largura do contêiner pai */
  max-width: 130px; /* Largura máxima opcional */
  height: auto; /* Altura ajustada automaticamente para manter a proporção */
  margin: 0 auto 15px; /* Margem inferior ajustada para espaçamento */
  border-radius: 50%; /* Para tornar a imagem circular */
  background-color: #ccc;
}


.dados {
  margin: 2%; /* Margem relativa */
  text-align: center;
  margin-top: 10%;
  font-weight: bold;
  font-size: 1em; /* Tamanho de fonte ajustado usando em */
  color: #ffffff;
  background: rgba(0, 0, 0, 0.7);
  padding: 1em; /* Padding relativo */
  border-radius: 10px;
}

/* Media query para ajustes em telas menores */
@media only screen and (max-width: 600px) {
  .dados {
    font-size: 0.7em; /* Reduzir tamanho de fonte para telas menores */
    padding: 0.1em; /* Reduzir padding para telas menores */
  }
}



.imagem-time {
  width: 200px; /* Largura desejada para o contêiner */
  height: auto; /* Altura ajustada automaticamente para manter a proporção */
  max-width: 100%; /* Garante que o contêiner não exceda a largura do seu contêiner pai */
  border-radius: 20px; /* Raio de borda de 20px */
  overflow: hidden; /* Para garantir que a imagem fique dentro do contêiner */
  display: flex; /* Utiliza flexbox */
  justify-content: center; /* Centraliza horizontalmente */
  margin: 0 auto;
  margin-top: 20px;
}

.imagem-time img {
  width: 100%; /* A imagem ocupa todo o espaço disponível dentro do contêiner */
  height: auto; /* Altura ajustada automaticamente para manter a proporção */
  display: block; /* Remove espaços indesejados */
  border-radius: 20px; /* Aplica o mesmo raio de borda para a imagem */
}

/* ------------------------------------TELA DE DADOS - LOGADO------------------------------------ */

#problem-btn {
  margin: 30px;
  width: 90%;
  padding: 30px;
  font-size: 18px;
  border-radius: 15px;
  color: rgb(255, 255, 255);
  background: rgba(255, 0, 0, 0.5);
  border-color: #ffffff;
  cursor: pointer;
}


#geladeira-btn {
  margin: 20px;
  padding: 20px;
  font-size: 16px;
  border-radius: 15px;
  color: white;
  background: transparent;
  border-color: #fff;
  cursor: pointer;
}

#ar-btn {
  margin: 20px;
  padding: 20px;
  font-size: 16px;
  border-radius: 15px;
  color: white;
  background: transparent;
  border-color: #fff;
  cursor: pointer;
}

#maq-lavar-btn {
  margin: 20px;
  padding: 20px;
  font-size: 16px;
  border-radius: 15px;
  color: white;
  background: transparent;
  border-color: #fff;
  cursor: pointer;
}

#tv-btn {
  margin: 20px;
  padding: 20px;
  font-size: 16px;
  border-radius: 15px;
  color: white;
  background: transparent;
  border-color: #fff;
  cursor: pointer;
}

#chuveiro-btn {
  margin: 20px;
  padding: 20px;
  font-size: 16px;
  border-radius: 15px;
  color: white;
  background: transparent;
  border-color: #fff;
  cursor: pointer;
}

#micro-ondas-btn {
  margin: 20px;
  padding: 20px;
  font-size: 16px;
  border-radius: 15px;
  color: white;
  background: transparent;
  border-color: #fff;
  cursor: pointer;
}

iframe {
  display: none; /* Oculta o iframe inicialmente */
  width: 100%;
  height: 500px;
}

/*------------------------BOTÕES DE AUDIO E VOZ----------------------------------*/
#speakIndex {
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  color: rgb(250, 248, 248);
  background: transparent;
  border-color: #7fee63;
  cursor: pointer;
}

#speakGaleria {
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  color: rgb(250, 248, 248);
  background: transparent;
  border-color: #7fee63;
  cursor: pointer;
}

#speakSobreNos {
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  color: rgb(250, 248, 248);
  background: transparent;
  border-color: #7fee63;
  cursor: pointer;
}

#speakIndexLogado {
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  color: rgb(250, 248, 248);
  background: transparent;
  border-color: #e0ee63;
  cursor: pointer;
}

#speakCalc {
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  color: rgb(250, 248, 248);
  background: transparent;
  border-color: #e0ee63;
  cursor: pointer;
}

#speakDados {
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  color: rgb(250, 248, 248);
  background: transparent;
  border-color: #e0ee63;
  cursor: pointer;
}

#fala-email {
  margin: 30px;
  padding: 10px;
  font-size: 25px;
  color: rgb(250, 248, 248);
  background: rgb(0, 0, 0, 0.5);
  border-radius: 15px;
  width: 400px;
}

#btnlogin {
  margin: 5px;
  padding: 10px;
  font-size: 30px;
  border-radius: 10px;
  color: rgb(250, 248, 248);
  background: transparent;
  border-color: #7fee63;
  cursor: pointer;
}
h4 {
  color: #7fee63;
}

h5 {
  color: #e0ee63;
}

.aviso {
  display: flex;
  justify-content: center; /* Alinha horizontalmente ao centro */
  align-items: center; /* Alinha verticalmente ao centro */
  border-radius: 15px;
  background-color: rgba(51, 255, 0, 0.5);
  box-shadow: 8px 15px 10px rgba(2, 2, 2, 0.8);
  width: 100%; /* Largura desejada do elemento */
  max-width: 600px; /* Largura máxima do elemento */
  padding: 60px;
  margin: auto; /* Margem automática para centralizar na página */
}

.msgaviso {
  font: Arial;
  color: #333333;
  font-weight: 800;
  font-size: 24px;
  display: flex;
  justify-content: center; /* Alinha horizontalmente ao centro */
  align-items: center; /* Alinha verticalmente ao centro */
  width: 100%; /* Largura desejada do elemento */
  max-width: 600px; /* Largura máxima do elemento */
  margin: auto; /* Margem automática para centralizar na página */
  border-radius: 18px;
  background-color: rgba(185, 252, 168, 0.8);
  box-shadow: 15px 10px 15px  rgba(2, 2, 2, 0.8);
  box-shadow: #333333;
  align-content: center;
  padding: 30px;
}