.calculadora-section-transparente {
  background-color: rgba(34, 33, 33, 0.6); 
  width: 350px;
  height: 500px;
  margin-left: 10px; /* Adiciona um espaço entre a calculadora e o resto da página */
  border-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Para alinhar os elementos verticalmente */
}

.botao {
  background-color: rgba(85, 87, 87, 0.8);
  width: 55px;
  height: 55px;
  color: #fff;
  cursor: pointer;
  font-size: 25px;
  border: none;
  margin: 3px;
}

.botao:hover {
  background-color: black;
}

.botao2 {
  background-color: rgba(121, 235, 15, 0.6);
  width: 55px;
  height: 60px;
  color: #fff;
  cursor: pointer;
  font-size: 25px;
  border: none;
  margin: 5px;
}

.botao2:hover {
  background-color: rgb(253, 252, 252);
  color: black;
}

#resultado_calc_ {
  width: 247px;
  height: 50px;
  background-color: #fff;
  color: black;
  margin: 5px;
  text-align: center; /* Centraliza o texto horizontalmente */
  font-size: 25px; /* Define o tamanho da fonte */
  padding: 10px; /* Adiciona espaço interno ao redor do texto */
  
}

.form {
  width: 400px;
  height: 760px;
  margin: 0 auto;
  background-color: rgba(27, 27, 27, 0.8); /* Fundo preto com 50% de transparência */
  padding: 20px;
  border-radius: 20px; /* Borda arredondada */
}

.form-group {
  margin-bottom: 20px;
  
}

.form-control {
  text-align: center;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(85, 81, 81, 0.8); /* Fundo branco com 80% de transparência */
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block; /* Alteração para permitir centralização */
  margin: 0 auto; /* Alteração para centralizar horizontalmente */
}

.btn-primary {
  background-color: #33e04a;
  color: #fff;
  margin-top: 35px;
}

#resultado {
  margin-top: 20px;
  font-weight: bold;
  color: #fff; /* Cor do texto */
}

#explicacao {
  flex: 1; /* Ocupa todo o espaço disponível */
  background-color: rgba(240, 106, 17, 0.8); 
  width: 100%;
  height: auto;
  margin-left: 10px; /* Adiciona um espaço entre a calculadora e o resto da página */
  border-radius: 20px;
  text-align: justify;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Para alinhar os elementos verticalmente */
}

.form h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333333;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.btn-primary {
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: #ffffff;
  width: 100%;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.forgot-password {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
  display: block;
  margin-top: 10px;
}

/* Estilo para a seção de login */

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}


.container {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0 0 30px 0 rgb(24, 24, 23);
}


.buttonsForm {
  margin-top: 40px;
  position: relative;
  border-radius: 30px;
  box-shadow: 0 0 7px 0 green;
}

.buttonsForm button {
  cursor: pointer;
  background: transparent;
  border: none;
  position: relative;
  padding: 10px 29px;
}

.btnColor {
  position: absolute;
  width: 130px;
  height: 100%;
  background: linear-gradient(to right, #98FB98, #ADFF2F);
  border-radius: 30px;
  transition: .3s;
}

input[type="text"], input[type="password"] {
  border: none;
  margin-top: 40px;
  border-radius: 60px;
  padding: 8px 0 8px 35px;
  outline: none;
  width: 100%;
}

button[type="submit"] {
  background: #98FB98;
  color: black;
  border-radius: 30px;
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 0 8px 15px;
  font-size: 15px;
  margin-top: 40px;
  cursor: pointer;
}

.divCheck {
  margin: 10px 0 0 5px;
  width: 80%;
  font-size: 13px;
}

#signin {
  left: 25px;
  position: absolute;
  margin-top: 80px;
  transition: .5s;
  width: 330px;
  height: 400px;
}

#signup {
  left: 450px;
  position: absolute;
  margin-top: 80px;
  transition: .5s;
  width: 330px;
  height: 400px;
}

.iEmail {
  top: 32px;
  position: absolute;
  left: 0;
  padding: 20px 5px;
  color: #030303;
}

.iPassword {
  top: 116px;
  position: absolute;
  left: 0;
  padding: 20px 5px;
  color: #030303;
}

.iPassword2 {
  top: 200px;
  position: absolute;
  left: 0;
  padding: 20px 5px;
  color: #030303;
}

.login-image {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 999; /* Certifique-se de que a imagem esteja acima de outros elementos, se necessário */
}

.login-image img {
  width: 600px; /* Defina o tamanho da imagem conforme necessário */
  height: auto; /* Mantém a proporção da imagem */
  margin-top: 300px;
  margin-left: 150px;
}

#signin,
#signup {
  /* Ajuste a margem esquerda para o formulário de login para acomodar a imagem */
  margin-left: 25px; /* Distância da borda esquerda */
}

.pai {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: rgba(30, 30, 30, 0.3);
  width: 900px;
  padding: 50px;
  border-radius: 20px;

}

.filha {
  width: calc(33.33% - 20px); /* Defina a largura das divs filhas */
  margin-bottom: 20px; /* Adiciona margem inferior para espaçamento entre as filhas */
  background-color: rgba(255, 255, 255, 0.5); /* Cor de fundo das divs filhas */
  border-radius: 15px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0,9);
  padding: 20px;
}

.imagem-time {
  text-align: center; /* Centraliza horizontalmente o conteúdo */
}

.imagem-time img {
  width: 190px;
  height: auto;
  border-radius: 10%;
  background-color: #ccc;
}

.dados {
  margin-top: 15px;
  text-align: center;
  font: normal 18px Arial;
  color: #171515;
  margin-bottom: 15px;
  padding: 10px;
}